#beats-visualizer-container {
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  overflow: hidden;
  position: fixed;
  z-index: -1;
}

#beats-visualizer-container.beats-visualizer-container--relative {
  position: relative;
  height: 320px;
  z-index: 0;
}

canvas#beats-canvas {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #ffffff;
}
